<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank Branches</title>
    <style>
        h1 {
            text-align: center;
        }
        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            text-decoration: none;
            color: white;
            background-color: #007bff;
            border-radius: 5px;
        }
        a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
<h1 th:text="${bankName} + ' Branches in Bangalore'"></h1>
<table border="1"
       align="center"
       cellspacing="10px"
       cellpadding="10px">
    <thead>
    <tr>
        <th>Branch Name</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="branch : ${branches}">
        <td th:text="${branch.name}"></td>
        <td th:text="${branch.address}"></td>
    </tr>
    </tbody>
</table>
</body>
<a th:href="@{/}">Return to Home</a>
</html>
