<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank Services</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1 th:text="${bankName}"></h1>
<table border="1"
       align="center"
       cellspacing="10px"
       cellpadding="10px">
    <thead>
    <tr>
        <th>Service Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${services}">
        <td th:text="${service.serviceName}"></td>
        <td th:text="${service.description}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
